# 2.1

In [2]:
#a
sum=1+2+3+4+5
print(sum)
#b
average=(23+19+31)/3
print(average)
#c
num=403//73
print(num)
#d
num1=403%73
print(num1)
#e
num2=2**10
print(num2)
#f
diff=54-57
diff2=abs(diff)
print(diff2)
#g
lowestprice=min(34.99, 29.95,31.50)
print(lowestprice)

15
24.333333333333332
5
38
1024
3
29.95

# 2.2

In [5]:
#a
a=2+2<4
print(a)
#b
b=7//3==1+1
print(b)
#c
c=3**2+4**2==25
print(c)
#d
d=2+4+6>12
print(d)
#e
e=1387%19==0
print(e)
#f
f=31%2==0
print(f)
#g
g=min(34.99,29.95,31.50)<30.00
print(g)

False
True
True
False
True
False
True

# 2.3

In [7]:
a=3
b=4
c=a * a + b * b
print(c)

25

# 2.4

In [32]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'
#a
concat=s1+' '+s2+' '+s3
print(concat)
#b
multiple=(s1+' ')*10
print(multiple)
#c
multiple2=s1+' '+(s2+' ')*2+''+(s3+' ')*3
print(multiple2)
#d
multiple3=(s1+' '+s2+' ')*7
print(multiple3)
#e
multiple4=(s2+s2+s3+' ')*5
print(multiple4)

ant bat cod
ant ant ant ant ant ant ant ant ant ant
ant bat bat cod cod cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod batbatcod batbatcod

# 2.5

In [33]:
s = '0123456789'
#a
index=s[0]
print(index)
#b
index2=s[1]
print(index2)
#c
index3=s[6]
print(index3)
#d
index4=s[8]
print(index4)
#e
index5=s[9]
print(index5)

0
1
6
8
9

# 2.6

In [35]:
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
word=min(words)
word2=max(words)
print(word,word2)

badminton bat

# 2.7

In [16]:
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]
#a
grades.count(7)
print(grades)
#b
grades[-1]=4
print(grades)
#c
c=max(grades)
print(c)
#d
grades.sort()
print(grades)
#e
e=sum(grades)/len(grades)
print(e)

[9, 7, 7, 10, 3, 9, 6, 6, 2]
[9, 7, 7, 10, 3, 9, 6, 6, 4]
10
[3, 4, 6, 6, 7, 7, 9, 9, 10]
6.777777777777778

# 2.8

In [20]:
#a
a=6
((2 + 3) == 4) or (a >= 5)
#b
lst=[1,2,3]
(((lst[1]) * (-3)) < (-10)) == 0
#c
lst=[1,2,3]
(((lst[1]) * (-3)) < (-10)) in [0, True]
#d
2 * (3**2)
#e
(4 / 2) in [1, 2, 3]

True

# 2.9

In [2]:
#a
a=False+False
print("the expression evaluate to integer:",a)
#b
v=2 * 3**2.0
print("the type is float:",v)
#c
g=4 // 2 + 4 % 2
print("the type is integer:",g)
#d
q=2 + 3 == 4 or 5 >= 5
print("the type is bool:",q)

the expression evaluate to integer: 0
the type is float: 18.0
the type is integer: 2
the type is bool: True

# 2.10

In [4]:
#a
import math
a=66
b=55
hyp=math.sqrt(a**2 + b**2)
print(hyp)
#b
h=math.sqrt(a**2 + b**2) == 5
print(h)
#c
area=math.pi * a**2
print(area)
#d
x=3
y=4
r=9
cir=(x - a)**2 + (y - b)**2 < r**2
print(cir)

85.9127464349732
False
13684.77759903714
False